.button{
    background-color: #4CAF50; /* Green */
}

.cen{
    width: 300px;
    margin: auto;
    width: 50%;
    border: 3px solid #73AD21;
    /* padding: 0px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CA48E8;
}

li {
    display: inline;
}

li a:hover {
    background-color: rgba(138, 50, 158, 0.856);
}

li a {
    color: white;
    text-decoration: none;
}
.barra {
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
}

body{
    background-color: rgba(138, 50, 158, 0.856);
}

.izq{
    float: left;
    margin-right: 100px;
    margin-left: 100px;
}
.center{
    margin-left: 100px;
}

.title{
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

.inflo{
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    color: white;
}

.texto{
    font-size: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
}

.titulo{
    
}